// sidebar
$menuText:#edf0f4;
$menuActiveText:#64e1ff;
$subMenuActiveText:#64e1ff; //https://github.com/ElemeFE/element/issues/12951

$menuBg:transparent;
$menuHover:transparent;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 14%;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
